@import "src/assets/styles/variables.scss";

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.background {
	background-color: $mainColor;
	height: 100vh;
}
header {
	width: 100vw;
	display: flex;
	align-items: center;
	height: 200px;

	.logo {
		height: fit-content;
		margin: 0 auto;
		background: $mainColor;
		border-radius: 20em;
		padding: 0 40px;
		display: flex;
		align-items: center;
		animation: appear 2s ease-in;
		cursor: pointer;
		outline: none;
		transition: transform 0.5s;

		.logo-text {
			font-size: 76px;
			font-family: "Allerta Stencil", sans-serif;
			color: white;
			user-select: none;
		}

		.logo-cube {
			margin-left: 20px;
			height: 70px;
			width: 50px;
			border-radius: 21px;
			background-color: $accentColor;
			transition: transform 1s ease-out;
		}

		&:hover {
			transform: scale(1.03);
			.logo-cube {
				//animation: rotate 1s ease-in-out infinite alternate;
				transform: rotate(360deg);
				transition: transform 2s 0.2s;
			}
		}
	}
}
