@import "src/assets/styles/variables.scss";

@media (min-height: 746px) {
	.container {
		font-family: "Poppins", sans-serif;
		color: white;
		width: 100%;
	}

	.reason {
		color: $accentColor2;
		font-size: 70px;
		text-align: center;
	}

	.titel {
		height: auto;
		text-align: center;
		.level {
			text-align: center;
			font-size: 60px;
		}
		.seconds {
			text-align: center;
			font-size: 50px;
			color: #dfdfdf;
		}
	}

	.button {
		position: absolute;
		bottom: 15%;
		left: 50%;
		transform: translate(-50%, 50%);
		.buttonRounded {
			margin: 0 auto;
			background-color: $accentColor2;
			width: 280px;
			height: 82px;
			border-radius: 26px;
			outline: none; //make box not selectable
			&:hover {
				transform: scale(1.03);
				-webkit-animation: shadow-drop-center 0.4s
					cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				animation: shadow-drop-center 0.4s
					cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			}
			cursor: pointer;
			p {
				text-align: center;
				font-weight: bold;
				font-size: 35px;
				line-height: 82px;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				user-select: none; //make text not selectable
			}
		}
	}
}

@media (max-height: 745px) {
	.container {
		font-family: "Poppins", sans-serif;
		color: white;
		margin: 0 auto;
		width: 100%;
		margin-top: 20px;
	}

	.reason {
		color: $accentColor2;
		font-size: 45px;
		text-align: center;
	}

	.titel {
		height: auto;
		text-align: center;
		.level {
			font-size: 35px;
		}
		.seconds {
			font-size: 32px;
			color: rgb(223, 223, 223);
		}
	}

	.button {
		position: absolute;
		bottom: 20%;
		left: 50%;
		transform: translate(-50%, 50%);
		.buttonRounded {
			margin: 0 auto;
			background-color: $accentColor2;
			width: 220px;
			height: 70px;
			border-radius: 26px;
			outline: none; //make box not selectable
			&:hover,
			&:active {
				transform: scale(1.03);
				-webkit-animation: shadow-drop-center 0.4s
					cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				animation: shadow-drop-center 0.4s
					cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			}
			cursor: pointer;
			p {
				text-align: center;
				font-weight: bold;
				font-size: 27px;
				line-height: 70px;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				user-select: none; //make text not selectable
			}
		}
	}
}
