@import "src/assets/styles/variables.scss";

.container {
	font-family: "Poppins", sans-serif;
	color: white;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

.reason {
	color: $accentColor2;
	font-size: 70px;
}

.titel {
	height: auto;
	h1 {
		text-align: center;
		font-size: 60px;
	}
}

.seconds {
	height: auto;
	h2 {
		font-size: 50px;
		color: #dfdfdf;
		text-align: center;
	}
}

.button {
	margin-top: 70px; //more space between text and button
	height: auto;
	.buttonRounded {
		margin: 0 auto;
		background-color: $accentColor2;
		width: 280px;
		height: 82px;
		border-radius: 26px;
		outline: none; //make box not selectable
		&:hover {
			transform: scale(1.03);
			-webkit-animation: shadow-drop-center 0.4s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			animation: shadow-drop-center 0.4s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}
		cursor: pointer;
		p {
			text-align: center;
			font-weight: bold;
			font-size: 35px;
			line-height: 82px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			user-select: none; //make text not selectable
		}
	}
}
