@import "src/assets/styles/variables.scss";
.container {
	margin: 0 auto;
	display: flex;
	justify-content: center;

	.cubes {
		margin-right: 50px;

		.cube-row {
			display: flex;
			padding-bottom: 1.7vh;

			&:last-child {
				padding-bottom: 0;
			}

			.cube {
				height: 23vh;
				width: 16.2vh;
				border-radius: 2.2vh;
				background-color: #eeeeee;
				border: 1.1vh solid $grayColor;

				margin-right: 1.7vh;

				cursor: pointer;

				&:last-child {
					//remove margin from last element on row
					margin-right: 0;
				}

				&:hover {
					transform: scale(1.03);
				}
			}

			.active {
				@keyframes cardActive {
					50% {
						transform: scale(1.04);
					}

					to {
						transform: scale(1);
					}
				}

				animation: cardActive 0.2s;
				background: $accentColor;

				&:hover {
					background-color: #57ff9a;
				}
			}
		}
	}

	.info {
		text-align: center;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;

		#level {
			font-size: 60px;
			min-width: 245px;
		}

		#seconds {
			font-size: 50px;
			color: rgb(223, 223, 223);
			width: 100%;
		}
	}
}
