<section class="container">
	<div class="cubes">
		<div class="cube-row">
			<div id="c-1" class="cube active"></div>
			<div id="c-2" class="cube"></div>
			<div id="c-3" class="cube"></div>
			<div id="c-4" class="cube"></div>
		</div>
		<div class="cube-row">
			<div id="c-5" class="cube"></div>
			<div id="c-6" class="cube"></div>
			<div id="c-7" class="cube"></div>
			<div id="c-8" class="cube"></div>
		</div>
		<div class="cube-row">
			<div id="c-9" class="cube"></div>
			<div id="c-10" class="cube"></div>
			<div id="c-11" class="cube"></div>
			<div id="c-12" class="cube"></div>
		</div>
	</div>
	<div class="info">
		<div id="level">Level 1</div>
		<div id="seconds">0.9s</div>
	</div>
</section>
