<div class="container">
    <div class="landing">
        <header>
            <span class="logo" [routerLink]="['/game']">
                <span class="logo-text">
                    CubeFlex
                </span>
                <span class="logo-cube"></span>
            </span>
        </header>
        <section class="landing-section">
            <div class="cal-container">
                <h2 class="cal-info">
                    Improve your reflexes with CubeFlex
                </h2>
                <span class="cal">
                    <span class="cal-text">
                        Try Now
                    </span>
                </span>
            </div>
            <div class="image-container">
                <span class="landing-image"></span>
            </div>
        </section>
    </div>
    <div class="footer">
        <div class="rounding">
            
        </div>
        <div class="footer-content">

        </div>
    </div>
</div>