<div class="container">
	<div class="landing">
		<header>
			<span class="logo" [routerLink]="['/']">
				<span class="logo-text">
					CubeFlex
				</span>
				<span class="logo-cube"></span>
			</span>
		</header>
		<section class="landing-section">
			<div class="cta-container">
				<h2 class="cta-info">
					Improve your reflexes with CubeFlex
				</h2>
				<span class="cta" [routerLink]="['/game']">
					<span class="cta-text">
						Try Now
					</span>
				</span>
			</div>
			<div class="image-container">
				<img src="assets/images/game-preview.png" alt="" />
			</div>
		</section>
	</div>
	<div class="footer">
		<div class="rounding"></div>
		<div class="footer-content">
			<div class="personal-container">
				<img
					src="https://www.gravatar.com/avatar/149dd3d7af1926ac7325b8a4f0bcf50a?s=250"
					alt=""
				/>
			</div>
			<div class="divider"></div>
			<div class="personal-container">
				<img
					src="https://www.gravatar.com/avatar/4f05e75f4aaa38e967241f5efab4225c?s=250"
					alt=""
				/>
			</div>
		</div>
	</div>
</div>
